<!-- Racing-Keelboat -->
<section class="bg-light page-section" id="racing-keelboat">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.racing[site.locale].racing-keelboat.title }}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6">
        <img src="assets/img/racing/{{ site.data.racing[site.locale].racing-keelboat.img }}" alt="Location">
      </div>
      <div class="col-12 col-md-6">
        <div class="section-subheading text-muted">{{ site.data.racing[site.locale].racing-keelboat.text | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
<!-- End Racing-Keelboat -->
