<!-- Team -->
<section class="page-section" id="team">
{% for group in site.data.team[site.locale].groups %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ group.title }}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center people">
      {% for person in group.people %}
      <div class="col-6 col-md-4 people-entry">
        <div class="team-member">
        <img class="mx-auto rounded-circle" src="assets/img/team/{{ person.image }}" alt="">
        <h4>{{ person.name }}</h4>
        {% if person.position %}
          <p class="text-muted">{{ person.position }}</p>
        {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.team[site.locale].extra_info.title }}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      {{ site.data.team[site.locale].extra_info.text | markdownify }}
    </div>
  </div>
</section>
<!-- End Team -->
